html {
  scroll-behavior: smooth;
  font-family: "Ubuntu";
}
#bodyofwebsite {
  background-color: gray;
}

.center {
  text-align: center;
}

.underline {
  text-decoration: underline;
}

#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(105, 105, 105);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a :hover:not(.active) {
  background-color: rgb(241, 110, 23);
}

.active {
  background-color: rgb(88, 88, 88);
}

#footer {
  position: fixed;
  left: 0px;
  bottom: 0;
  width: 100%;
  background-color: rgb(82, 82, 82);
  color: white;
  text-align: center;
}
