html {
  scroll-behavior: smooth;
  font-family: "Ubuntu";
}

* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#bodyofwebsite {
  background-color: gray;
}

#navbar {
  background-color: rgb(105, 105, 105);
  padding: .4em;
  overflow: hidden;
}

.navbartext {
  color: rgb(0, 0, 0);
  padding: .5em;
  font-size: larger;
}

a:visited {
  color: rgb(37, 37, 37);
}


.active {
  background-color: rgb(49, 40, 40);
}

.centerimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.right {
  text-align: right;
  align-items: right;
  align-self: right;
}

.left {
  text-align: left;
  align-items: left;
  align-self: left;
}

.center {
  text-align: center;
  align-items: center;
  align-self: center;
}

.warningicon {
  width: 2%;
}

#deliverydriverpicture {
  width: 30%;
  padding: .6em;
}





hr {
  border: 1.5px dashed rgb(105, 105, 105);
}


.underline {
  text-decoration: underline;
}

#badges {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}



.container {
  text-align: center;
  padding: 10px 20px;
}

#selfport {
  width: 10%;
  border-radius: 30%;
  border: 10px solid transparent;
}

#footer {
  position: fixed;
  left: 0px;
  bottom: 0;
  width: 100%;
  background-color: rgb(82, 82, 82);
  color: white;
  text-align: center;
  padding-bottom: 0;
}