html {
  scroll-behavior: smooth;
  font-family: "Ubuntu";
  display: flex;
  word-break: keep-all;
}

* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#Header {
  margin: .5em;
}

#navbar {
  background-color: rgb(105, 105, 105);
  padding: .4em;
  overflow: hidden;
}

.navbartext {
  color: rgb(0, 0, 0);
  padding: .5em;
  font-size: larger;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky+.content {
  padding-top: 30px;
}

a:visited {
  color: rgb(37, 37, 37);
}


.active {
  background-color: rgb(49, 40, 40);
}


.right {
  text-align: right;

}

.left {
  text-align: left;

}

.center {

  text-align: center;
  align-items: center;
  align-self: center;
}


body {
  background: #808080;
  background-repeat: repeat;


}

.centerimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


.warningicon {
  width: 2%;
}

#deliverydriverpicture {
  width: 25%;
  margin-top: .8em;
  border-radius: 10%;
  border: 3px dashed rgb(61, 61, 61);
}


#snippetdescription1 {
  font-size: small;
  margin-right: 0%;
}

#snowboarder {
  margin: 1em;
  width: 25%;
  border-radius: 10%;
  border: 3px dashed rgb(61, 61, 61);
}

#quizmaster {
  margin-top: 1em;
  width: 25%;
  border-radius: 10%;
  border: 3px dashed rgb(61, 61, 61);
}




pre {
  margin-left: 0%;
  margin-right: 0%;
}

hr {
  border: 1.5px dashed rgb(105, 105, 105);
}


.underline {
  text-decoration: underline;
}

#Certs {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;

}

.heart {
  width: 1em;
}

#g59footer {
  width: 15%;
  margin-bottom: 2em;
  margin-top: 1em;
}


#selfport {
  width: 10%;
  border-radius: 20%;
  border: 3px dashed rgb(61, 61, 61);
}

#footer {
  position: fixed;
  left: 0px;
  bottom: 0;
  width: 100%;
  background-color: rgb(82, 82, 82);
  color: white;
  text-align: center;
  padding-bottom: 0;
}